<!-- Client Resources -->
<section id="clients" class="">
  <div class="container py-5 my-5">
    <div class="text-center mb-5">
      <h2 class="h1 fw-bold mb-2">Client Resources</h2>
    </div>
    <div class="row justify-content-evenly mt-4">
      <!-- Consensus Clients -->
      <div id="consensus-clients" class="col col-xxl-8 col-xl-9 col-lg-10 col-md-11">
        <h3 class="mb-3">Consensus Clients</h3>
        <div class="table-responsive">
          <table class="table table-bordered mb-2">
            <thead class="">
              <tr>
                <th scope="col" style="min-width: 8rem;">Client</th>
                <th scope="col">Github</th>
                <th scope="col" style="min-width: 3.8rem;">Docs</th>
                <th scope="col">Chat</th>
                <th scope="col">Status</th>
                <th scope="col">Support</th>
                <th scope="col">Language</th>
                <th scope="col">Donate</th>
              </tr>
            </thead>
            <tbody>
              {%- assign clients-consensus = site.data.clients-consensus | sort_natural: "name" -%}
              {%- for client in clients-consensus -%}
                {%- assign opacity = "" -%}
                {%- if client.status == "deprecated" -%}
                  {%- assign opacity = "opacity-50" -%}
                {%- endif -%}
                <tr class="{{opacity}}">
                  <th scope="row">
                    {%- if client.link -%}
                      <a href="{{client.link}}" class="" target="_blank">
                      {{client.name}}
                      </a>
                    {%- else -%}
                      {{client.name}}
                    {%- endif -%}
                  </th>
                  {%- if client.github -%}
                    <td>
                      <a href="{{client.github}}" class="text-decoration-none" target="_blank">
                        {{site.data.icons.github}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.docs -%}
                    <td>
                      <a href="{{client.docs}}" class="text-decoration-none" target="_blank">
                        {{site.data.icons.docs}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.chat -%}
                    {%- assign chat_icon = site.data.icons.chat -%}
                    {%- if client.chat contains "discord" -%}
                      {%- assign chat_icon = site.data.icons.discord -%}
                    {%- endif -%}
                    {%- if client.chat contains "t.me" -%}
                      {%- assign chat_icon = site.data.icons.telegram -%}
                    {%- endif -%}
                    <td>
                      <a href="{{client.chat}}" class="text-decoration-none" target="_blank">
                        {{chat_icon}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.status -%}
                    <td>{{client.status}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.support -%}
                    <td>{{client.support}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.lang -%}
                    <td>{{client.lang}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.donate -%}
                    {%- if client.donate contains "http" -%}
                      {%- assign donate_icon = site.data.icons.donate -%}
                      {%- if client.donate contains "etherscan.io" -%}
                        {%- assign donate_icon = site.data.icons.etherscan -%}
                      {%- endif -%}
                      {%- if client.donate contains "gitcoin.co" -%}
                        {%- assign donate_icon = site.data.icons.gitcoin -%}
                      {%- endif -%}
                      {%- if client.donate contains "protocol-guild" -%}
                        {%- assign donate_icon = '<img src="/assets/img/protocol-guild.png" style="width:1.4rem;height:1.4rem;">' -%}
                      {%- endif -%}
                      <td>
                        <a href="{{client.donate}}" class="text-decoration-none" target="_blank">
                          {{donate_icon}}
                        </a>
                      </td>
                    {%- else -%}
                      {%- if client.donate == "funded" -%}
                        <td><span class="text-success" title="funded">{{site.data.icons.checkmark}}</span></td>
                      {%- else -%}
                        <td>{{client.donate}}</td>
                      {%- endif -%}
                    {%- endif -%}
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-md-11 text-md-center">
            <p><strong>Note</strong>: Donations made to <a href="https://protocolguild.org" target="_blank">Protocol Guild</a> are distributed among Ethereum protocol contributors, including client teams. All recipients and splits can be <a href="https://github.com/protocolguild/documentation/blob/main/docs/01-membership.md" target="_blank">seen here</a>.</p>
          </div>
        </div>
      </div>
      <!-- Execution Clients -->
      <div id="execution-clients" class="col col-xxl-8 col-xl-9 col-lg-10 col-md-11 mt-5">
        <h3 class="mb-3">Execution Clients</h3>
        <div class="table-responsive">
          <table class="table table-bordered mb-2">
            <thead class="">
              <tr>
                <th scope="col" style="min-width: 8rem;">Client</th>
                <th scope="col">Github</th>
                <th scope="col" style="min-width: 3.8rem;">Docs</th>
                <th scope="col">Chat</th>
                <th scope="col">Status</th>
                <th scope="col">Support</th>
                <th scope="col">Language</th>
                <th scope="col">Donate</th>
              </tr>
            </thead>
            <tbody>
              {%- assign clients-execution = site.data.clients-execution | sort_natural: "name" -%}
              {%- for client in clients-execution -%}
                {%- assign opacity = "" -%}
                {%- if client.status == "deprecated" -%}
                  {%- assign opacity = "opacity-50" -%}
                {%- endif -%}
                <tr class="{{opacity}}">
                  <th scope="row">
                    {%- if client.link -%}
                      <a href="{{client.link}}" class="" target="_blank">
                        {{client.name}}
                      </a>
                    {%- else -%}
                      {{client.name}}
                    {%- endif -%}
                  </th>
                  {%- if client.github -%}
                    <td>
                      <a href="{{client.github}}" class="text-decoration-none" target="_blank">
                        {{site.data.icons.github}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.docs -%}
                    <td>
                      <a href="{{client.docs}}" class="text-decoration-none" target="_blank">
                        {{site.data.icons.docs}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.chat -%}
                    {%- assign chat_icon = site.data.icons.chat -%}
                    {%- if client.chat contains "discord" -%}
                      {%- assign chat_icon = site.data.icons.discord -%}
                    {%- endif -%}
                    {%- if client.chat contains "t.me" -%}
                      {%- assign chat_icon = site.data.icons.telegram -%}
                    {%- endif -%}
                    <td>
                      <a href="{{client.chat}}" class="text-decoration-none" target="_blank">
                        {{chat_icon}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.status -%}
                    <td>{{client.status}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.support -%}
                    <td>{{client.support}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.lang -%}
                    <td>{{client.lang}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.donate -%}
                    {%- if client.donate contains "http" -%}
                      {%- assign donate_icon = site.data.icons.donate -%}
                      {%- if client.donate contains "etherscan.io" -%}
                        {%- assign donate_icon = site.data.icons.etherscan -%}
                      {%- endif -%}
                      {%- if client.donate contains "gitcoin.co" -%}
                        {%- assign donate_icon = site.data.icons.gitcoin -%}
                      {%- endif -%}
                      {%- if client.donate contains "protocol-guild" -%}
                        {%- assign donate_icon = '<img src="/assets/img/protocol-guild.png" style="width:1.4rem;height:1.4rem;">' -%}
                      {%- endif -%}
                      <td>
                        <a href="{{client.donate}}" class="text-decoration-none" target="_blank">
                          {{donate_icon}}
                        </a>
                      </td>
                    {%- else -%}
                      {%- if client.donate == "funded" -%}
                        <td><span class="text-success" title="funded">{{site.data.icons.checkmark}}</span></td>
                      {%- else -%}
                        <td>{{client.donate}}</td>
                      {%- endif -%}
                    {%- endif -%}
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-md-11 text-md-center">
            <p><strong>Note</strong>: Donations made to <a href="https://protocolguild.org" target="_blank">Protocol Guild</a> are distributed among Ethereum protocol contributors, including client teams. All recipients and splits can be <a href="https://github.com/protocolguild/documentation/blob/main/docs/01-membership.md" target="_blank">seen here</a>.</p>
          </div>
        </div>
      </div>
      <!-- Lean Consensus Clients -->
      <div id="consensus-lean-clients" class="col col-xxl-8 col-xl-9 col-lg-10 col-md-11 mt-5">
        <h3 class="mb-3">Lean Consensus Clients</h3>
        <div class="table-responsive">
          <table class="table table-bordered mb-2">
            <thead class="">
              <tr>
                <th scope="col" style="min-width: 8rem;">Client</th>
                <th scope="col">Github</th>
                <th scope="col" style="min-width: 3.8rem;">Docs</th>
                <th scope="col">Chat</th>
                <th scope="col">Status</th>
                <!-- <th scope="col">Support</th> -->
                <th scope="col">Language</th>
                <!-- <th scope="col">Donate</th> -->
              </tr>
            </thead>
            <tbody>
              {%- assign clients-lean-consensus = site.data.clients-lean-consensus | sort_natural: "name" -%}
              {%- for client in clients-lean-consensus -%}
                {%- assign opacity = "" -%}
                {%- if client.status == "deprecated" -%}
                  {%- assign opacity = "opacity-50" -%}
                {%- endif -%}
                <tr class="{{opacity}}">
                  <th scope="row">
                    {%- if client.link -%}
                      <a href="{{client.link}}" class="" target="_blank">
                      {{client.name}}
                      </a>
                    {%- else -%}
                      {{client.name}}
                    {%- endif -%}
                  </th>
                  {%- if client.github -%}
                    <td>
                      <a href="{{client.github}}" class="text-decoration-none" target="_blank">
                        {{site.data.icons.github}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.docs -%}
                    <td>
                      <a href="{{client.docs}}" class="text-decoration-none" target="_blank">
                        {{site.data.icons.docs}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.chat -%}
                    {%- assign chat_icon = site.data.icons.chat -%}
                    {%- if client.chat contains "discord" -%}
                      {%- assign chat_icon = site.data.icons.discord -%}
                    {%- endif -%}
                    {%- if client.chat contains "t.me" -%}
                      {%- assign chat_icon = site.data.icons.telegram -%}
                    {%- endif -%}
                    <td>
                      <a href="{{client.chat}}" class="text-decoration-none" target="_blank">
                        {{chat_icon}}
                      </a>
                    </td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  {%- if client.status -%}
                    <td>{{client.status}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  <!-- {%- if client.support -%}
                    <td>{{client.support}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%} -->
                  {%- if client.lang -%}
                    <td>{{client.lang}}</td>
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%}
                  <!-- {%- if client.donate -%}
                    {%- if client.donate contains "http" -%}
                      {%- assign donate_icon = site.data.icons.donate -%}
                      {%- if client.donate contains "etherscan.io" -%}
                        {%- assign donate_icon = site.data.icons.etherscan -%}
                      {%- endif -%}
                      {%- if client.donate contains "gitcoin.co" -%}
                        {%- assign donate_icon = site.data.icons.gitcoin -%}
                      {%- endif -%}
                      {%- if client.donate contains "protocol-guild" -%}
                        {%- assign donate_icon = '<img src="/assets/img/protocol-guild.png" style="width:1.4rem;height:1.4rem;">' -%}
                      {%- endif -%}
                      <td>
                        <a href="{{client.donate}}" class="text-decoration-none" target="_blank">
                          {{donate_icon}}
                        </a>
                      </td>
                    {%- else -%}
                      {%- if client.donate == "funded" -%}
                        <td><span class="text-success" title="funded">{{site.data.icons.checkmark}}</span></td>
                      {%- else -%}
                        <td>{{client.donate}}</td>
                      {%- endif -%}
                    {%- endif -%}
                  {%- else -%}
                    <td>-</td>
                  {%- endif -%} -->
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>
      </div>
      <!-- Multinode Clients -->
      <div id="multinode-clients" class="col col-xxl-8 col-xl-9 col-lg-10 col-md-11 mt-5">
        <h3 class="mb-3">Multinode Clients</h3>
        <div class="table-responsive">
          <table class="table table-bordered mb-2">
            <thead class="">
              <tr>
                <th scope="col" style="min-width: 8rem;">Feature / Property</th>
                <th scope="col">
                  <a href="https://vero.docs.serenita.io/" target="_blank">Vero</a>
                </th>
                <th scope="col">
                  <a href="https://github.com/attestantio/vouch" target="_blank">Vouch</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Attestation Strategies</th>
                <td>M of N</td>
                <td>M of N, First, Best</td>
              </tr>
              <tr>
                <th scope="row">Signer</th>
                <td>Web3Signer</td>
                <td>Dirk</td>
              </tr>
              <tr>
                <th scope="row">Distributed Validator Keys</th>
                <td>No, uses whole key</td>
                <td>Yes, uses sharded keys</td>
              </tr>
              <tr>
                <th scope="row">Active-active Redundancy</th>
                <td>Vero Sponsors only</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row">Ethereum Remote Signing API</th>
                <td>Yes</td>
                <td>No</td>
              </tr>
              <tr>
                <th scope="row">Slashing Protection</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row">Slashing Detection</th>
                <td>Yes</td>
                <td>No</td>
              </tr>
              <tr>
                <th scope="row">Ease of Migration</th>
                <td>Designed for simple adoption and rollback</td>
                <td>More complex setup and integration</td>
              </tr>
              <tr>
                <th scope="row">Eth Docker Support</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row">Open Source</th>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row">Dependency Surface</th>
                <td>Minimal codebase and external dependencies; single maintainer</td>
                <td>Large/complex codebase (~5x Vero) and external dependencies; creator retired, codebase maintained by Bitwise</td>
              </tr>
              <tr>
                <th scope="row">Typical Use Case</th>
                <td>Simple way to protect validators from client consensus bugs</td>
                <td>Highly-configurable multi-node validator setups with sharded validator keys</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
