<header class="pb-md-3 pb-lg-5 mb-5 mb-md-0">
 <div class="px-4 py-5 my-4 my-md-5 text-center">
    <h1 class="display-1 fw-bold mt-sm-3 mt-md-4 mt-lg-5">Diversify Now</h1>
    <div class="col-lg-7 mx-auto">
      <p class="h4 fw-normal mb-4">Improve Ethereum's resilience by using a minority client</p>
      <a href="#switch" class="btn btn-dark btn-lg px-4 m-1">Switch Clients</a>
      <a href="#distribution" class="btn btn-outline-dark btn-lg px-4 m-1">Dashboard</a>
      <p class="mt-3">
        <a href="#why" class="h5 fw-light">Learn More {{site.data.icons.arrow_right}}</a>
      </p>
    </div>
  </div>
</header>