<!-- Logos -->
<section class="bg-contrast">
  <div class="container my-5">
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 g-2 g-lg-3 justify-content-around">
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/consensus-clients/lighthouse-logo.png" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/execution-clients/nethermind-text-logo.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/consensus-clients/prysm-logo.png" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/consensus-clients/lodestar-logo-text.png" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/execution-clients/geth-logo.png" alt="">
      </div>
      <div class="col text-center d-none d-sm-block">
        <img class="my-1 client-logos" src="/assets/img/execution-clients/besu-text-logo.png" alt="">
      </div>
      <div class="col text-center d-none d-md-block">
        <img class="my-1 client-logos" src="/assets/img/consensus-clients/nimbus-logo.svg" alt="">
      </div>
      <div class="col text-center d-none d-lg-block">
        <img class="my-1 client-logos" src="/assets/img/execution-clients/erigon-text-logo.png" alt="">
      </div>
      <div class="col text-center d-none d-lg-block">
        <img class="my-1 client-logos" src="/assets/img/consensus-clients/teku-logo.png" alt="">
      </div>
    </div>
  </div>
</section>
