<!-- Resources -->
<section id="resources" class="">
  <div class="container py-5 my-5 px-4">
    <h2 class="h1 fw-bold mb-3 text-center">Resources</h2>
    <div class="row justify-content-start justify-content-lg-center mt-4">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
        <h5>Tools</h5>
        <ul class="">
          <li class="mb-2">
            <a href="https://hackmd.io/@jyeAs_6oRjeDk2Mx5CZyBw/awesome-ethereum-staking" target="_blank" class="p-0 text-capitalize">Awesome Ethereum Staking Resources</a>
          </li>
          <li class="mb-2">
            <a href="http://ethpillar.coincashew.com" target="_blank" class="p-0 text-capitalize">EthPillar</a>
          </li>          
          <li class="mb-2">
            <a href="https://stereum.net/" target="_blank" class="p-0 text-capitalize">Stereum</a>
          </li>
          <li class="mb-2">
            <a href="https://eth-docker.net/" target="_blank" class="p-0 text-capitalize">eth-docker</a>
          </li>
          <li class="mb-2">
            <a href="https://github.com/ethereum/keymanager-APIs" target="_blank" class="p-0 text-capitalize">keymanager APIs</a>
          </li>
          <li class="mb-2">
            <a href="https://www.kotal.co" target="_blank" class="p-0 text-capitalize">Kotal</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
        <h5>Metrics</h5>
        <ul class="">
          <li class="mb-2">
            <a href="https://www.rated.network/" target="_blank" class="p-0 text-capitalize">Staking Pool Client Diversity</a>
          </li>
          <li class="mb-2">
            <a href="https://migalabs.io" target="_blank" class="p-0 text-capitalize">Miga Labs Dashboard</a>
          </li>
          <li class="mb-2">
            <a href="https://www.nodewatch.io/" target="_blank" class="p-0 text-capitalize">Chainsafe Nodewatch</a>
          </li>
          <li class="mb-2">
            <a href="https://www.slashed.info/" target="_blank" class="p-0 text-capitalize">Financial Risk Per Consensus Client</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
        <h5>Research</h5>
        <ul class="">
          <li class="mb-2">
            <a href="https://ethresear.ch/t/allowing-validators-to-provide-client-information-privately-a-project-by-nethermind-research-and-nethermind-core/18527" target="_blank" class="p-0 text-capitalize">Client Reporting</a>
          </li>
          <li class="mb-2">
            <a href="https://paragraph.com/@rolfy-eth/graffiti-watermarks" target="_blank" class="p-0 text-capitalize">Graffiti Watermarks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
