<!-- Resources -->
<section id="resources" class="">
  <div class="container py-5 my-5 px-4">
    <h2 class="h1 fw-bold mb-3 text-center">Resources</h2>
    <div class="row justify-content-start justify-content-lg-center mt-4">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
        <h5>Tools</h5>
        <ul class="">
          <li class="mb-2">
            <a href="https://hackmd.io/@jyeAs_6oRjeDk2Mx5CZyBw/awesome-ethereum-staking" target="_blank" class="p-0 text-capitalize">Awesome Ethereum Staking Resources</a>
          </li>
          <li class="mb-2">
            <a href="http://ethpillar.coincashew.com" target="_blank" class="p-0 text-capitalize">EthPillar</a>
          </li>          
          <li class="mb-2">
            <a href="https://stereum.net/" target="_blank" class="p-0 text-capitalize">Stereum</a>
          </li>
          <li class="mb-2">
            <a href="https://eth-docker.net/" target="_blank" class="p-0 text-capitalize">eth-docker</a>
          </li>
          <li class="mb-2">
            <a href="https://github.com/attestantio/vouch" target="_blank" class="p-0 text-capitalize">Vouch</a>
          </li>
          <li class="mb-2">
            <a href="https://github.com/ethereum/keymanager-APIs" target="_blank" class="p-0 text-capitalize">keymanager APIs</a>
          </li>
          <li class="mb-2">
            <a href="https://www.kotal.co" target="_blank" class="p-0 text-capitalize">Kotal</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
        <h5>Metrics</h5>
        <ul class="">
          <li class="mb-2">
            <a href="https://www.rated.network/" target="_blank" class="p-0 text-capitalize">Staking Pool Client Diversity</a>
          </li>
          <li class="mb-2">
            <a href="https://monitoreth.io/" target="_blank" class="p-0 text-capitalize">Miga Labs Dashboard</a>
          </li>
          <li class="mb-2">
            <a href="https://www.nodewatch.io/" target="_blank" class="p-0 text-capitalize">Chainsafe Nodewatch</a>
          </li>
          <li class="mb-2">
            <a href="https://github.com/sigp/blockprint/blob/main/docs/api.md" target="_blank" class="p-0 text-capitalize">Proposer Diversity Data</a>
          </li>
          <li class="mb-2">
            <a href="https://www.rated.network/" target="_blank" class="p-0 text-capitalize">Rated.Network Validator Ratings</a>
          </li>
          <li class="mb-2">
            <a href="https://www.slashed.info/" target="_blank" class="p-0 text-capitalize">Financial Risk Per Consensus Client</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
        <h5>Research</h5>
        <ul class="">
          <li class="mb-2">
            <a href="https://twitter.com/sproulM_/status/1440512518242197516" target="_blank" class="p-0 text-capitalize">Client Fingerprinting</a>
          </li>
          <li class="mb-2">
            <a href="https://eips.ethereum.org/EIPS/eip-3076" target="_blank" class="p-0 text-capitalize">EIP-3076: Slashing Protection Interchange Format</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
