<!-- Why Client Diversity -->
<section id="why" class="bg-contrast">
  <div class="container py-5 my-5">
    <h2 class="h1 fw-bold mb-3 text-center">Client Diversity Is <u>Not</u> Optional</h2>
    <div class="row justify-content-center mt-4">
      <div class="col col-lg-10">
        <p class="mb-4">Many know client diversity is important for a more resilient network, but they don't understand why or just how essential it is. It's not only important &#8212; <span class="fw-bold fst-italic">it's critical</span>. If a single client is used by 2/3rds (66%) of validators, there's a very real risk this can result in disrupting the chain and monetary loss [<a href="https://www.slashed.info/" target="_blank">1</a>, <a href="https://nitter.net/_crypto_crack/status/1504459918539120643" target="_blank">2</a>] for node operators.</p>
        <p class="mb-4">It takes 2/3rds of validators to reach finality. If a client with 66%+ of marketshare has a bug and forks to its own chain, it'll be capable of finalizing. Once the fork finalizes, the <strong>validators cannot return to the real chain without being slashed</strong><!--  or exiting and watching their funds drain while in queue -->. If 66% of the chain gets slashed simultaneously, the penalty is the whole 32 ETH.</p>
        <p class="mb-4">So why is >50% marketshare still dangerous? If a minority client forks, the 50%+ majority client can obtain a 66%+ majority. With no client having a marketshare over 33%, these scenarios are avoided. That's why <strong>&#60;33% marketshare is the goal for all clients</strong>.</p>
        <p><strong>Execution clients are not immune.</strong> The risks mentioned above apply to both consensus clients and execution clients equally.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-lg-6 col-md-8 text-center">
        <div class="accordion" id="furtherReading">
          <div class="accordion-item">
            <h2 class="accordion-header" id="furtherReadingHeader">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFurtherReading" aria-expanded="false" aria-controls="collapseFurtherReading">
                Further reading...
              </button>
            </h2>
            <div id="collapseFurtherReading" class="accordion-collapse collapse" aria-labelledby="furtherReadingHeader" data-bs-parent="#furtherReading">
              <div class="accordion-body text-start">
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://mirror.xyz/jmcook.eth/S7ONEka_0RgtKTZ3-dakPmAHQNPvuj15nh0YGKPFriA">
                    Client diversity on Ethereum’s consensus layer {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://medium.com/prysmatic-labs/prysmatic-labs-statement-on-client-diversity-c0e3c2f05671">
                    Prysm: Statement on Client Diversity {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://our.status.im/the-importance-of-client-diversity/">
                    Nimbus: The Importance of Client Diversity {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://lighthouse.sigmaprime.io/switch-to-lighthouse.html">
                    Lighthouse: Why You Should Switch to Lighthouse {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://medium.com/chainsafe-systems/on-client-diversity-in-decentralized-networks-848aeedfb49d">
                    Chainsafe: Client Diversity in Decentralized Networks {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://www.reddit.com/r/ethstaker/comments/ptm04i/the_financial_incentive_to_run_a_minority_client/">
                    The financial incentive to run a minority client {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://www.symphonious.net/2021/09/23/what-happens-if-beacon-chain-consensus-fails/">
                    What Happens If Beacon Chain Consensus Fails? {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 link-dark text-capitalize" target="_blank"
                    href="https://upgrading-ethereum.info/altair/part2/incentives/diversity">
                    Ben Edgington on diversity, scenarios, and penalties {{site.data.icons.new_tab}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>