{%- assign data = include.data -%}

{%- comment -%}
{	
	"data_source":"blockprint",
	"has_majority":false,
	"has_supermajority":false,
	"danger_client":"",
	"top_client":"prysm"
}
{%- endcomment -%}

{%- assign alert_type = "danger" -%}
{%- if data.danger_client == "" -%}
	{%- assign alert_type = "info" -%}
{%- endif -%}

{%- assign alert_icon = site.data.icons.warning -%}
{%- if data.danger_client == "" -%}
	{%- assign alert_icon = site.data.icons.info -%}
{%- endif -%}

{%- assign danger_client = data.danger_client | capitalize -%}

{%- capture alert_msg -%}
	Switch from {{danger_client}} to a minority client!
{%- endcapture -%}
{%- if data.has_supermajority == true -%}
	{%- capture alert_msg -%}
		{{danger_client}} has a supermajority, switch to a minority client!
	{%- endcapture -%}
{%- endif -%}
{%- if data.has_majority == false -%}
	{%- assign alert_msg = "Client diversity has improved!" -%}
{%- endif -%}

{%- assign alert_msg_padding = "" -%}
{%- if data.danger_client == "" -%}
	{%- assign alert_msg_padding = "ms-2" -%}
{%- endif -%}

{%- assign alert_style = "d-none" -%}
{%- if data.data_source == site.default_consensus_source -%}
	{%- assign alert_style = "" -%}
{%- endif -%}
{%- if data.data_source == site.default_execution_source -%}
	{%- assign alert_style = "" -%}
{%- endif -%}


<a href="#why" class="{{alert_style}} {{data.data_source}} {{include.type}}-data text-decoration-none">
  <div class="alert alert-{{alert_type}} d-flex align-items-center" role="alert">
    {{alert_icon}}
    <div class="{{alert_msg_padding}}">{{alert_msg}}</div>
  </div>
</a>
