{%- comment -%}
<!-- 
When creating new notification you must increase 
the config.yml "notificationMsgId" value so it 
will show again for users that previously closed it 

Add to config.yml:
# Notification Bar
enableNotification: false
notificationMsgId: 1 # must increment when creating a new message
notificationMsg: Join the community!<br><a href=""></a>.
notificationExpiration: 3000000000 # epoch time in seconds
-->
{%- endcomment -%}

{%- if site.enableNotification == true -%}
<!-- Notification Bar -->
<div id="notification" class="p-2 pe-4">
  <span class="pe-2">
    {{site.notificationMsg}}
  </span>
  <span id="notificationClose" class="my-auto" onclick="hideNotification()">✕</span>
</div>


<script type="text/javascript">
  window.onload = showNotification();
  // Loads/shows notification bar if users hasn't closed it yet
  function showNotification() {
    const notificationName = "notification-{{site.notificationMsgId}}";
    const hideNotification = localStorage.getItem(notificationName);
    const timestamp = Math.round(Date.now()/10000)*10;
    if (hideNotification != "true" && timestamp < {{site.notificationExpiration}}) {
      const notification = document.getElementById("notification");
      notification.style.display = "block";
    }
  }
  // Hides notification bar when user closes it
  function hideNotification() {
    const notification = document.getElementById("notification");
    notification.style.display = "none";
    const notificationName = "notification-{{site.notificationMsgId}}";
    localStorage.setItem(notificationName, "true");
  }
</script>


<style type="text/css">
  #notification {
    position: fixed;
    z-index: 101;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
    display: none;
    background-color: #000;
  }
  #notificationClose {
    position: absolute;
    right: 10px;
    height: 100%;
    top: 50%;
    transform: translateY(-18%);
    cursor: pointer;
  }
  #notification a {
    color: #000;
  }
</style>
{%- endif -%}
