{%- comment -%}
<!-- 
When creating new toast you must increase 
the config.yml "toastMsgId" value so it will
show again for users that previously closed it 

Add to config.yml:
# Toast
enableToast: false
toastMsgId: 1 # must increment when creating a new message
toastTitle: Notice
toastMsg: # Best when under 100 characters
toastLink: # Optional, leave blank to omit
toastExpiration: 3000000000 # epoch time in seconds
-->
{%- endcomment -%}

{%- if site.enableToast == true -%}
<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <button type="button" class="btn bg-info btn-sm" style="max-height: 17px; max-width: 15px; border: none;" disabled>&nbsp;</button>
      <strong class="me-auto ms-2">{{site.toastTitle}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="hidetoast()"></button>
    </div>
    <div class="toast-body">
      {{site.toastMsg | liquify | markdownify}}
      {%- if site.toastLink -%}
        <div class="mt-2 pt-2 border-top border-slate">
          <a href="{{site.toastLink}}" target="_blank" class="btn btn-dark btn-sm">Learn more</a>
          <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="toast" onclick="hidetoast()">Close</button>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>


<script type="text/javascript">
  const toastEl = document.getElementById('toast');
  const toast = new bootstrap.Toast(toastEl);
  showtoast()

  // Loads/shows notification bar if users hasn't closed it yet
  function showtoast() {
    const toastName = "toast-{{site.toastMsgId}}";
    const hideToast = localStorage.getItem(toastName);
    const timestamp = Math.round(Date.now()/10000)*10;
    if (hideToast != "true" && timestamp < {{site.toastExpiration}}) {
      toast.show();
    }
  }
  // Hides toast bar when user closes it
  function hidetoast() {
    const toastName = "toast-{{site.toastMsgId}}";
    localStorage.setItem(toastName, "true");
  }
</script>


<style type="text/css">
  .toast-container {
    z-index: 1090;
  }
  .toast {
    border-radius: 0.5rem !important;
    background-color: #fff;
  }
  .toast-header {
  }
</style>
{%- endif -%}
