<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
      <ul class="navbar-nav mms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-3" href="{{site.url}}">Home</a>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%- for page in site.html_pages -%}
              {%- assign base_page = page.permalink | split: "/" | size -%}
              {%- if base_page == 2 -%}
                {%- unless page.permalink contains "404" -%}
                  {%- assign page_name = page.permalink | remove: "/" | replace: "-", "% " -%}
                  {%- assign words = page_name | split: ' ' -%}
                  {%- capture titlecase -%}
                    {%- for word in words -%}
                      {{ word | capitalize }}
                    {%- endfor -%}
                  {%- endcapture -%}
                  <li><a class="dropdown-item" href="{{site.url}}{{page.permalink}}">{{titlecase}}</a></li>
                {% endunless %}
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="{{site.github_repo}}">Contribute</a>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{site.url}}">Link 1</a></li>
          </ul>
        </li>
      </ul>
      <a class="btn btn-primary" href="{{site.discord_invite}}">Chat</a>
    </div>
  </div>
</nav>