{%- assign data = include.data -%}

{%- for client in data -%}
  {%- assign color = "success" -%}
  {%- assign status = "great!" -%}
  {%- if client.value > 50 -%}
		{%- assign color = "danger" -%}
		{%- assign status = "danger!" -%}
  {%- elsif client.value > 33 -%}
    {%- assign color = "warning" -%}
    {%- assign status = "caution" -%}
  {%- endif -%}
  <div class="my-2">
    <label class="form-label my-0 py-0">{{client.name}} - {{client.value}}%</label>
    <div class="progress position-relative" style="height: 1.3rem;" 
    	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title='
	        <div class="progress-tooltip text-capitalize text-start">
	          <div class="mb-1 pb-1 text-center border-bottom border-secondary">
	            {{client.name}} status:<br>{{client.value}}% ({{status}})
	          </div>
	          <div class="d-flex justify-content-between">
	            <span class="me-2">great:</span><span>0-33%</span>
	          </div>
	          <div class="d-flex justify-content-between">
	            <span class="me-2">caution:</span><span>33-50%</span>
	          </div>
	          <div class="d-flex justify-content-between mb-1 pb-1 border-bottom border-secondary">
	          <span class="me-2">danger:</span><span>50-100%</span>
	          </div>
	          <div class="d-flex justify-content-between">
	            <span class="me-2">accuracy:</span><span>no data</span>
	          </div>
	        </div>'>
      <div class="progress-bar position-absolute bg-{{color}}" role="progressbar" style="width: {{client.value}}%; height: 1.25rem;" aria-valuenow="{{client.value}}" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-trans clientshare-success" role="progressbar" style="width: 33%; height: 1.25rem"></div>
      <div class="progress-bar bg-trans clientshare-warning" role="progressbar" style="width: 17%; height: 1.25rem"></div>
      <div class="progress-bar bg-trans clientshare-danger" role="progressbar" style="width: 50%; height: 1.25rem"></div>
    </div>
  </div>
{%- endfor -%}