root {
  --accordion-icon-active-color: #000
}
.dark-mode .btn-dark:not(.ignore) {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--bs-gray-100);
  --bs-btn-border-color: var(--bs-gray-100);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-gray-300);
  --bs-btn-hover-border-color: var(--bs-gray-300);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-gray-300);
  --bs-btn-active-border-color: var(--bs-gray-300);
  --bs-btn-disabled-color: var(--bs-body-bg);
  --bs-btn-disabled-bg: var(--bs-gray-300);
  --bs-btn-disabled-border-color: var(--bs-gray-300);
}
.dark-mode .btn-outline-dark:not(.ignore) {
  --bs-btn-color: var(--bs-gray-100);
  --bs-btn-border-color: var(--bs-gray-100);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-gray-100);
  --bs-btn-hover-border-color: var(--bs-gray-100);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-gray-100);
  --bs-btn-active-border-color: var(--bs-gray-100);
  --bs-btn-disabled-color: var(--bs-gray-100);
  --bs-btn-disabled-border-color: var(--bs-gray-100);
}


a svg {
  fill: var(--bs-body-color);
}


.alert {
  padding: 0.5rem 1rem;
}
.progress-label {
  float: left;
  margin-right: 1em;
}
.bg-trans {
  background-color: transparent;
}
.bg-body-color {
  background-color: var(--bs-body-color);
}
.bg-body-bg {
  background-color: var(--bs-body-bg);
  /*background-color: var(--bs-gray-800);*/
  background-color: #282d33;
}
.text-body-color {
  color: var(--bs-body-color);
}
.text-body-bg {
  color: var(--bs-body-bg);
}
.bg-contrast {
  background-color: var(--bs-light);
}
.dark-mode .bg-contrast {
  background-color: #282d33;
}



.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: var(--bs-body-bg);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.dark-mode .accordion-button::after,
.dark-mode .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dee2e6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}



.table>:not(:first-child) {
  border-top: none;
}


.client-logos {
  height: 3rem;
}
@media (max-width: 25em) {
  .client-logos {
    height: 2.6rem;
    /*height: 2.2rem;*/
  }
}


.clientshare-success {
  background-image: linear-gradient(45deg,rgba(25,135,84,.15) 25%,transparent 25%,transparent 50%,rgba(25,135,84,.15) 50%,rgba(25,135,84,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}
.clientshare-warning {
  background-image: linear-gradient(45deg,rgba(255,193,7,.15) 25%,transparent 25%,transparent 50%,rgba(255,193,7,.15) 50%,rgba(255,193,7,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}
.clientshare-danger {
  background-image: linear-gradient(45deg,rgba(220,53,69,.15) 25%,transparent 25%,transparent 50%,rgba(220,53,69,.15) 50%,rgba(220,53,69,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}



