.bg-primary {
  background-color: var(--primary-color);
}


.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-color-shaded);
  border-color: var(--primary-color-shaded);
}

.btn-outline-primary {
  background-color: #fff
  border-color: var(--primary-color) !important;
  color: var(--primary-color);
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  border-color: var(--primary-color-shaded) !important;
  background-color: var(--primary-color-shaded);
  color: #fff;
}

.btn-outline-thirdary {
  background-color: #fff;
  color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-thirdary:hover,
.btn-outline-thirdary:focus {
  border-color: var(--primary-color-shaded) !important;
  background-color: var(--primary-color-shaded);
  color: #fff;
}


.link-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}


.progress-label {
  float: left;
  margin-right: 1em;
}
.bg-trans {
  background-color: transparent;
  /*border-right: solid 2px #000;*/
}
.clientshare-success {
  background-image: linear-gradient(45deg,rgba(25,135,84,.15) 25%,transparent 25%,transparent 50%,rgba(25,135,84,.15) 50%,rgba(25,135,84,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}
.clientshare-warning {
  background-image: linear-gradient(45deg,rgba(255,193,7,.15) 25%,transparent 25%,transparent 50%,rgba(255,193,7,.15) 50%,rgba(255,193,7,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}
.clientshare-danger {
  background-image: linear-gradient(45deg,rgba(220,53,69,.15) 25%,transparent 25%,transparent 50%,rgba(220,53,69,.15) 50%,rgba(220,53,69,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}









