<!DOCTYPE html>
<html lang="en" class="h-100">
  {%- include partials/head.html -%}
  <body class="d-flex flex-column min-vh-100">
    {%- include partials/component-notification.html -%}
    {%- include partials/component-toast.html -%}
  	{%- include partials/nav.html -%}
    {{content}}
  	{%- include partials/footer.html -%}
    <!-- Custom JS -->
  	<script src="/assets/js/main.js" type="application/javascript"></script>

    {%- case page.name -%}
      {%- when "custom.md" -%}
        <script src="/assets/js/custom.js" type="application/javascript"></script>
      {%- else -%}
    {%- endcase -%}
  </body>
</html>