<!DOCTYPE html>
<html lang="en">
  {%- include partials/head.html -%}
  <body class="d-flex flex-column min-vh-100">
    {%- if site.notification_enabled == true -%}
      {%- include partials/notification.html -%}
    {%- endif -%}
    {%- if site.nav_enabled == true -%}
      {%- include partials/nav.html -%}
    {%- endif -%}


    <!-- Header -->
    <header class="container py-4 mt-5">
      <div class="text-center">

        {%- if page.header -%}
          <h1 class="display-6 fw-bold mb-3">{{page.header}}</h1>
        {%- endif -%}
        {%- if page.subheader -%}
          <p class="col-md-10 col-lg-8 mx-auto lead">
            {{page.subheader}}
          </p>
        {%- endif -%}
        {%- if page.note -%}
          <small><em>{{page.note}}</em></small>
        {%- endif -%}

          {%- comment -%}
            Usage:
            buttons:
            - link: /path/
              text: Link 1 Title
            - link: "https://example.com"
              text: Link 2 Title
          {%- endcomment -%}
          {%- if page.buttons -%}
            {%- for button in page.buttons -%}
              {%- if button.link contains "http" -%}
                <a href="{{button.link}}" class="btn btn-outline-thirdary btn-lg px-4 m-1">{{button.text}}</a>
              {%- else -%}
                <a href="{{button.link}}" class="btn btn-outline-thirdary btn-lg px-4 m-1">{{button.text}}</a>
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

      </div>
    </header>


    <!-- Content -->
    <section class="container py-4">
      <div class="row justify-content-center">
        <div markdown="1" class="col col-md-8 col-lg-8">
          {{content}}
        </div>
      </div>
    </section>

  	{%- include partials/footer.html -%}
    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Custom JS -->
  	<script src="/assets/js/main.js" type="application/javascript"></script>
    {%- case page.name -%}
      {%- when "custom.md" -%}
         <script src="/assets/js/custom.js" type="application/javascript"></script>
      {%- else -%}
    {%- endcase -%}
  </body>
</html>